<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.LayerMapper">

    <select id="getLayerList" resultType="com.cudo.pixelviewer.vo.LayerVo">
        SELECT *
        FROM Layers
    </select>

    <select id="getLayer" resultType="com.cudo.pixelviewer.vo.LayerVo">
        SELECT *
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>

    <select id="postLayerValid" resultType="int">
        SELECT count(layer_id)
        FROM Layers
        WHERE layer_nm = #{layerNm}
            AND rowsize = #{rowsize}
            AND columnsize = #{columnsize}
    </select>
    <insert id="postLayer" parameterType="Map" useGeneratedKeys="true" keyColumn="layer_id"
            keyProperty="layerId">
        INSERT INTO Layers
        (
            preset_id, screen_id, layer_nm, pos_x, pos_y, width, height, ord
        )
        VALUES
        (
            1, 1, "NULL", 0, 0, 0, 0, 0
        )
    </insert>

    <select id="deleteLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="deleteLayer">
        DELETE S
        FROM Layers AS S
        WHERE S.layer_id = #{layerId}
    </update>

    <select id="putLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="putLayer">
        UPDATE Layers
        SET preset_id = #{presetId}, screen_id = #{screenId}
            , layer_nm = #{layerNm}, pos_x = #{posX}, pos_y = #{posY}
            , width = #{width}, height = #{height}, ord = #{ord}
        WHERE Layers.layer_id = #{layerId}
    </update>

</mapper>